.top-menu {    
    background-color: #d7d7d7;

    .top-menu-row {
        display: flex;
        border-collapse: collapse;

        a {
            text-decoration-line: none;
        }
    
        .menu-item {   
            display: flex;
            align-items: center; 
            height: 36px;
    
            padding: 0 10px 0 4px;
            border: solid 1px #000000;  
            border-right: none; 
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            color: #333333;

            position: relative;

            .sub-menu {
                z-index: 1;
                background-color: #d7d7d7;

                position: absolute;
                top: 36px;
                left: -1px;

                .sub-menu-item {
                    display: flex;
                    align-items: center; 
                    height: 36px;
                    padding: 0 10px 0 4px;
                    border: solid 1px #000000;  
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    color: #333333;
                    width: 200px;
                }
            }
        }

        .menu-item:last-of-type {
            border-right: solid 1px #000000;
        }
    }
}