.main-header {
    background-color: #0071ba;
    height: 36px;
    display: flex;
    align-items: center;

    a {
        color: #ffffff;
        text-decoration-line: none;
        font-size: 24px;
        font-family: 'DINPro';    
        padding: 2px 10px;
    }
}